@{
    ViewData["Title"] = "Home Page";
}

@{
    var currentDt = DateTime.Now;
    var fontColor = (currentDt.Hour >= 0 && currentDt.Hour < 12 ? "White" : "Black");
}

<div class="container">
    <div class="row">
        <div class="col-md-7 offset-md-3">
            <div class="weather">
                <div class="current" style="background-image: url('../images/rainy-city.jpg'); color:@fontColor">
                    <div class="info">
                        <div>&nbsp;</div>
                        <div class="temp">22&deg; <small>C</small></div>
                        <div class="city">@currentDt.ToString("dddd MMM d, yyyy HH:mm")</div>
                        <div class="city">Kuwait</div>
                        <div class="wind"><small><small>WIND:</small></small> 12 km/h</div>
                        <div class="wind"><small><small>Humidity:</small></small> 10%</div>
                        <div>&nbsp;</div>
                    </div>
                    <div class="icon">
                        <img src="~/images/thunder-icons.svg" alt="Alternate Text" />
                    </div>
                </div>
                @*<div class="future">
                        <div class="day">
                            <h3>Sat</h3>
                            <p><img src="~/images/rainy-icons.svg" alt="Alternate Text" /></p>
                        </div>
                        <div class="day">
                            <h3>Sun</h3>
                            <p><img src="~/images/cloud-icons.svg" alt="Alternate Text" /></p>
                        </div>
                        <div class="day">
                            <h3>Mon</h3>
                            <p><img src="~/images/thunder-icons.svg" alt="Alternate Text" /></p>
                        </div>
                        <div class="day">
                            <h3>Tue</h3>
                            <p><img src="~/images/sunny-icon.svg" alt="Alternate Text" /></p>
                        </div>
                        <div class="day">
                            <h3>Wed</h3>
                            <p><img src="~/images/cloud-icons.svg" alt="Alternate Text" /></p>
                        </div>
                        <div class="day">
                            <h3>Thur</h3>
                            <p><img src="~/images/thunder-icons.svg" alt="Alternate Text" /></p>
                        </div>
                        <div class="day">
                            <h3>Fri</h3>
                            <p><img src="~/images/thunder-icons.svg" alt="Alternate Text" /></p>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" crossorigin="anonymous"></script>
}